.wrapper {
    width: 60%;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: url("1608.jpg") no-repeat;
    background-size: cover;
    border: 1px solid black;
}